In [45]:
from pyspark.sql import SparkSession
import pyspark
spark = SparkSession.builder.master("local[1]").appName('Tma_Tme_Digital').getOrCreate()
df = spark.read.csv("01- Código.csv", header=True, inferSchema=True)
df.createOrReplaceTempView("View")

In [51]:
# Consulta SQL usando o DataFrame df
resultado = spark.sql("""
    SELECT
        Data,
        Campanha,
        Segmento,
        SUM(Tempo_logado) AS Tempo_logado,
        SUM(Tempo_falado) AS Tempo_falado,
        SUM(Chamadas_atendidas) AS Chamadas_atendidas,
        SUM(TMA) AS TMA,
        SUM(IDLE) AS IDLE,
        COUNT(*) AS QTD
    FROM View
    WHERE Agente != 'Homologação' AND Data BETWEEN '2023-07-01' AND DATEADD(DAY, -1, CURRENT_DATE())
    GROUP BY Data, Campanha, Segmento
    HAVING SUM(IDLE) > 0
    ORDER BY 1 DESC
""")

# Exibir o resultado
resultado.show()

+----------+--------------------+--------+------------+------------+------------------+-----+-------+----+
|      Data|            Campanha|Segmento|Tempo_logado|Tempo_falado|Chamadas_atendidas|  TMA|   IDLE| QTD|
+----------+--------------------+--------+------------+------------+------------------+-----+-------+----+
|2023-09-01|AV - TIM (FLUXO O...|POS PAGO|      500884|      262544|             13701| 2660| 238340| 264|
|2023-09-01|AV - TIM CONTROLE...|Controle|     1138290|      375008|             22133| 5365| 763282| 600|
|2023-09-01|AV - TIM CONTROLE...|Controle|     3529932|     1765960|             94683|18139|1763972|1848|
|2023-09-01|AV - TIM POS PAGO...|POS PAGO|     1226577|      576645|             30685| 6381| 649932| 648|
|2023-08-31|AV - TIM CONTROLE...|Controle|     3512639|     1982348|            100917|19180|1530291|1848|
|2023-08-31|AV - TIM (FLUXO O...|POS PAGO|      493884|      322004|             15512| 2895| 171880| 264|
|2023-08-31|AV - TIM POS PAGO...|POS PAGO|     1233247|      697699|             34970| 6789| 535548| 648|
|2023-08-31|AV - TIM CONTROLE...|Controle|     1061970|      369481|             21090| 5626| 692489| 600|
|2023-08-30|AV - TIM POS PAGO...|POS PAGO|     1210298|      500960|             27561| 6209| 709338| 648|
|2023-08-30|AV - TIM PREVENTI...|POS PAGO|       20224|        8323|               343|  167|  11901|  24|
|2023-08-30|AV - TIM CONTROLE...|Controle|     3479418|     1561517|             87045|17475|1917901|1848|
|2023-08-30|AV - TIM CONTROLE...|Controle|     1087937|      353748|             21281| 5275| 734189| 600|
|2023-08-30|AV - TIM (FLUXO O...|POS PAGO|      501791|      250604|             13411| 2626| 251187| 264|
|2023-08-29|AV - TIM PREVENTI...|POS PAGO|         550|         171|                 8|   21|    379|  24|
|2023-08-29|AV - TIM CONTROLE...|Controle|     1117450|      434199|             24650| 5604| 683251| 600|
|2023-08-29|AV - TIM (FLUXO O...|POS PAGO|      499614|      311112|             15079| 2875| 188502| 264|
|2023-08-29|AV - TIM CONTROLE...|Controle|     3517992|     2021227|            101388|19504|1496765|1848|
|2023-08-29|AV - TIM POS PAGO...|POS PAGO|     1233409|      667518|             33804| 6725| 565891| 648|
|2023-08-28|AV - TIM (FLUXO O...|POS PAGO|      499954|      348266|             16031| 3035| 151688| 264|
|2023-08-28|AV - TIM CONTROLE...|Controle|     3578963|     2418302|            118220|20008|1160661|1848|
+----------+--------------------+--------+------------+------------+------------------+-----+-------+----+
only showing top 20 rows

In [75]:
from pyspark.sql.functions import col, lit, sum, count, when
from datetime import datetime, timedelta
data_limite = (datetime.now() - timedelta(days=1)).strftime('%Y-%m-%d')

# Filtrar e transformar seus dados
df_filtered = df.filter(
    (col("Data") >= "2023-07-01") &
    (col("Data") <= data_limite) &
    (col("Agente") != "Homologação")
)

# Realizar agregações
df_aggregated = df_filtered.groupBy("Data", "Campanha", "Segmento").agg(
    sum("Tempo_logado").alias("Tempo_logado"),
    sum("Tempo_falado").alias("Tempo_falado"),
    sum("Chamadas_atendidas").alias("Chamadas_atendidas"),
    sum("TMA").alias("TMA"),
    sum("IDLE").alias("IDLE"),
    count("*").alias("QTD")
)

# Filtrar apenas os grupos onde SUM(IDLE) > 0
df_filtered_groups = df_aggregated.filter(col("IDLE") > 0)

# Adicionar as colunas calculadas
df_result = df_filtered_groups.withColumn("HORA_PROD_PA_META", lit(HORA_PROD_PA_META))\
    .withColumn("VALOR_PA", lit(VALOR_PA))\
    .withColumn("TEMP_PRODUTIVO_META", col("QTD") * col("HORA_PROD_PA_META"))\
    .withColumn("PA_PRODUTIVO_REALIZADO", col("Tempo_falado") / col("HORA_PROD_PA_META"))\
    .orderBy(col("Data").desc())

# Exibir o resultado
df_result.show()

+----------+--------------------+--------+------------+------------+------------------+-----+-------+----+-----------------+--------+-------------------+----------------------+
|      Data|            Campanha|Segmento|Tempo_logado|Tempo_falado|Chamadas_atendidas|  TMA|   IDLE| QTD|HORA_PROD_PA_META|VALOR_PA|TEMP_PRODUTIVO_META|PA_PRODUTIVO_REALIZADO|
+----------+--------------------+--------+------------+------------+------------------+-----+-------+----+-----------------+--------+-------------------+----------------------+
|2023-09-01|AV - TIM (FLUXO O...|POS PAGO|      500884|      262544|             13701| 2660| 238340| 264|            40200|    8265|           10612800|     6.530945273631841|
|2023-09-01|AV - TIM CONTROLE...|Controle|     1138290|      375008|             22133| 5365| 763282| 600|            40200|    8265|           24120000|     9.328557213930349|
|2023-09-01|AV - TIM CONTROLE...|Controle|     3529932|     1765960|             94683|18139|1763972|1848|            40200|    8265|           74289600|    43.929353233830845|
|2023-09-01|AV - TIM POS PAGO...|POS PAGO|     1226577|      576645|             30685| 6381| 649932| 648|            40200|    8265|           26049600|    14.344402985074627|
|2023-08-31|AV - TIM CONTROLE...|Controle|     3512639|     1982348|            100917|19180|1530291|1848|            40200|    8265|           74289600|     49.31213930348259|
|2023-08-31|AV - TIM (FLUXO O...|POS PAGO|      493884|      322004|             15512| 2895| 171880| 264|            40200|    8265|           10612800|      8.01004975124378|
|2023-08-31|AV - TIM POS PAGO...|POS PAGO|     1233247|      697699|             34970| 6789| 535548| 648|            40200|    8265|           26049600|    17.355696517412934|
|2023-08-31|AV - TIM CONTROLE...|Controle|     1061970|      369481|             21090| 5626| 692489| 600|            40200|    8265|           24120000|     9.191069651741293|
|2023-08-30|AV - TIM POS PAGO...|POS PAGO|     1210298|      500960|             27561| 6209| 709338| 648|            40200|    8265|           26049600|    12.461691542288557|
|2023-08-30|AV - TIM PREVENTI...|POS PAGO|       20224|        8323|               343|  167|  11901|  24|            40200|    8265|             964800|   0.20703980099502486|
|2023-08-30|AV - TIM CONTROLE...|Controle|     3479418|     1561517|             87045|17475|1917901|1848|            40200|    8265|           74289600|     38.84370646766169|
|2023-08-30|AV - TIM CONTROLE...|Controle|     1087937|      353748|             21281| 5275| 734189| 600|            40200|    8265|           24120000|     8.799701492537313|
|2023-08-30|AV - TIM (FLUXO O...|POS PAGO|      501791|      250604|             13411| 2626| 251187| 264|            40200|    8265|           10612800|     6.233930348258706|
|2023-08-29|AV - TIM PREVENTI...|POS PAGO|         550|         171|                 8|   21|    379|  24|            40200|    8265|             964800|  0.004253731343283582|
|2023-08-29|AV - TIM CONTROLE...|Controle|     1117450|      434199|             24650| 5604| 683251| 600|            40200|    8265|           24120000|     10.80097014925373|
|2023-08-29|AV - TIM (FLUXO O...|POS PAGO|      499614|      311112|             15079| 2875| 188502| 264|            40200|    8265|           10612800|      7.73910447761194|
|2023-08-29|AV - TIM CONTROLE...|Controle|     3517992|     2021227|            101388|19504|1496765|1848|            40200|    8265|           74289600|     50.27927860696517|
|2023-08-29|AV - TIM POS PAGO...|POS PAGO|     1233409|      667518|             33804| 6725| 565891| 648|            40200|    8265|           26049600|     16.60492537313433|
|2023-08-28|AV - TIM (FLUXO O...|POS PAGO|      499954|      348266|             16031| 3035| 151688| 264|            40200|    8265|           10612800|     8.663333333333334|
|2023-08-28|AV - TIM CONTROLE...|Controle|     3578963|     2418302|            118220|20008|1160661|1848|            40200|    8265|           74289600|     60.15676616915423|
+----------+--------------------+--------+------------+------------+------------------+-----+-------+----+-----------------+--------+-------------------+----------------------+
only showing top 20 rows

In [76]:

from pyspark.sql.functions import col, sum, when, lit
from pyspark.sql.window import Window


# Defina suas variáveis de contexto
HORA_PROD_PA_META = 40200
VALOR_PA = 8265

# Filtrar e transformar seus dados

# Filtrar e transformar seus dados
df_filtered = df.filter((col("Data") >= "2023-07-01") & (col("Data") <= data_limite) & (col("Agente") != "Homologação"))

# Realizar agregações
df_aggregated = df_filtered.groupBy("Data").agg(
    sum("Tempo_logado").alias("TEMP_LOGADO_TOTAL"),
    sum("Tempo_falado").alias("TEMP_PRODUTIVO_REALIZADO"),
    when((col("Data") >= "2023-07-01") & (col("Data") <= "2023-07-28"), 36).otherwise(105).alias("PA_META")
)

# Adicionar as colunas calculadas
df_result = df_aggregated.withColumn("HORA_PROD_PA_META", lit(HORA_PROD_PA_META))\
    .withColumn("VALOR_PA", lit(VALOR_PA))\
    .withColumn("TEMP_PRODUTIVO_META", col("PA_META") * col("HORA_PROD_PA_META"))\
    .withColumn("PA_PRODUTIVO_REALIZADO", col("TEMP_PRODUTIVO_REALIZADO") / col("HORA_PROD_PA_META"))\
    .orderBy("Data")

# Exibir o resultado
df_result.show()

+----------+-----------------+------------------------+-------+-----------------+--------+-------------------+----------------------+
|      Data|TEMP_LOGADO_TOTAL|TEMP_PRODUTIVO_REALIZADO|PA_META|HORA_PROD_PA_META|VALOR_PA|TEMP_PRODUTIVO_META|PA_PRODUTIVO_REALIZADO|
+----------+-----------------+------------------------+-------+-----------------+--------+-------------------+----------------------+
|2023-07-21|          4550393|                 2960851|     36|            40200|    8265|            1447200|     73.65300995024876|
|2023-07-22|          4579261|                 1992298|     36|            40200|    8265|            1447200|    49.559651741293536|
|2023-07-24|          4481923|                 1628783|     36|            40200|    8265|            1447200|     40.51699004975124|
|2023-07-25|          4524153|                 1647404|     36|            40200|    8265|            1447200|     40.98019900497513|
|2023-07-26|          4874376|                 3731530|     36|            40200|    8265|            1447200|     92.82412935323383|
|2023-07-27|           286204|                  170584|     36|            40200|    8265|            1447200|     4.243383084577115|
|2023-07-28|          4379922|                 1217955|     36|            40200|    8265|            1447200|    30.297388059701493|
|2023-07-29|          5093473|                 3921168|    105|            40200|    8265|            4221000|     97.54149253731343|
|2023-07-31|          5349776|                 4402680|    105|            40200|    8265|            4221000|    109.51940298507462|
|2023-08-01|          5470279|                 3540887|    105|            40200|    8265|            4221000|     88.08176616915424|
|2023-08-02|          5432294|                 3251979|    105|            40200|    8265|            4221000|                80.895|
|2023-08-03|          5902601|                 3024710|    105|            40200|    8265|            4221000|     75.24154228855721|
|2023-08-04|          6432684|                 2956322|    105|            40200|    8265|            4221000|     73.54034825870647|
|2023-08-05|          6499937|                 2411640|    105|            40200|    8265|            4221000|      59.9910447761194|
|2023-08-07|          6437646|                 3883638|    105|            40200|    8265|            4221000|      96.6079104477612|
|2023-08-08|          6351723|                 4229560|    105|            40200|    8265|            4221000|    105.21293532338308|
|2023-08-09|          6385809|                 2804912|    105|            40200|    8265|            4221000|      69.7739303482587|
|2023-08-10|          6324320|                 3000891|    105|            40200|    8265|            4221000|     74.64902985074627|
|2023-08-11|          6334200|                 1979285|    105|            40200|    8265|            4221000|     49.23594527363184|
|2023-08-12|          6384970|                 1425884|    105|            40200|    8265|            4221000|      35.4697512437811|
+----------+-----------------+------------------------+-------+-----------------+--------+-------------------+----------------------+
only showing top 20 rows

In [79]:
df_result.toPandas().value_counts()

Data        TEMP_LOGADO_TOTAL  TEMP_PRODUTIVO_REALIZADO  PA_META  HORA_PROD_PA_META  VALOR_PA  TEMP_PRODUTIVO_META  PA_PRODUTIVO_REALIZADO
2023-07-21  4550393            2960851                   36       40200              8265      1447200              73.653010                 1
2023-08-12  6384970            1425884                   105      40200              8265      4221000              35.469751                 1
2023-08-15  5502977            2374065                   105      40200              8265      4221000              59.056343                 1
2023-08-16  6305394            4648132                   105      40200              8265      4221000              115.625174                1
2023-08-17  6504005            3078093                   105      40200              8265      4221000              76.569478                 1
2023-08-18  6446438            4065393                   105      40200              8265      4221000              101.129179                1
2023-08-19  6384458            2800558                   105      40200              8265      4221000              69.665622                 1
2023-08-21  6495992            5296395                   105      40200              8265      4221000              131.751119                1
2023-08-22  6354240            3785888                   105      40200              8265      4221000              94.176318                 1
2023-08-23  6308048            2603814                   105      40200              8265      4221000              64.771493                 1
2023-08-24  6455765            2937836                   105      40200              8265      4221000              73.080498                 1
2023-08-25  6480923            2421067                   105      40200              8265      4221000              60.225547                 1
2023-08-26  6503983            3318030                   105      40200              8265      4221000              82.538060                 1
2023-08-28  6492359            4164673                   105      40200              8265      4221000              103.598831                1
2023-08-29  6369015            3434227                   105      40200              8265      4221000              85.428532                 1
2023-08-30  6299668            2675152                   105      40200              8265      4221000              66.546070                 1
2023-08-31  6301740            3371532                   105      40200              8265      4221000              83.868955                 1
2023-08-14  6467202            4040693                   105      40200              8265      4221000              100.514751                1
2023-08-11  6334200            1979285                   105      40200              8265      4221000              49.235945                 1
2023-07-22  4579261            1992298                   36       40200              8265      1447200              49.559652                 1
2023-08-10  6324320            3000891                   105      40200              8265      4221000              74.649030                 1
2023-07-24  4481923            1628783                   36       40200              8265      1447200              40.516990                 1
2023-07-25  4524153            1647404                   36       40200              8265      1447200              40.980199                 1
2023-07-26  4874376            3731530                   36       40200              8265      1447200              92.824129                 1
2023-07-27  286204             170584                    36       40200              8265      1447200              4.243383                  1
2023-07-28  4379922            1217955                   36       40200              8265      1447200              30.297388                 1
2023-07-29  5093473            3921168                   105      40200              8265      4221000              97.541493                 1
2023-07-31  5349776            4402680                   105      40200              8265      4221000              109.519403                1
2023-08-01  5470279            3540887                   105      40200              8265      4221000              88.081766                 1
2023-08-02  5432294            3251979                   105      40200              8265      4221000              80.895000                 1
2023-08-03  5902601            3024710                   105      40200              8265      4221000              75.241542                 1
2023-08-04  6432684            2956322                   105      40200              8265      4221000              73.540348                 1
2023-08-05  6499937            2411640                   105      40200              8265      4221000              59.991045                 1
2023-08-07  6437646            3883638                   105      40200              8265      4221000              96.607910                 1
2023-08-08  6351723            4229560                   105      40200              8265      4221000              105.212935                1
2023-08-09  6385809            2804912                   105      40200              8265      4221000              69.773930                 1
2023-09-01  6395683            2980157                   105      40200              8265      4221000              74.133259                 1
Name: count, dtype: int64